.carousel__pagination {
  position: absolute;
    bottom: 0;
    z-index: 10;
  width: 100%;
}

.carousel__pagination ul {
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.carousel__pagination li {
  background-color: #FFF;
  border: 2px solid #FFF;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 6px;
  transition: box-shadow 300ms ease;
}

.carousel__pagination li.active { box-shadow: 0 0 0 10px #282C34 inset; }
.carousel__pagination li:hover:not(.active) { box-shadow: 0 0 0 10px #56B6C2 inset; }
